@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.content{
	height:430vh;
	width:60%;
	margin: auto;
	display: flex;
	flex-direction: column;
	font-family: 'Open Sans', sans-serif;
	box-shadow: 5px 10px gray;
}
.header{
	flex:1;
	display: flex;
	flex-direction: row;
}
.logo{
	flex:1;
	background-image: url("images/logo.svg");
	background-repeat: no-repeat;
}
.button{
	flex:1;
	display: flex;
	justify-content: flex-end;
	align-items: center;

}
.button>button{
	width: 50%;
	height: 50%;
	border: 5px solid hsl(322, 100%, 66%);
	border-radius: 40px;
	color: hsl(322, 100%, 66%);
}
.button>button:hover{
	border:5px solid hsl(321, 100%, 78%);
	color: hsl(321, 100%, 78%);
}
.content2{
	flex:25;
	display: flex;
	flex-direction: column;
	
}
.content2> div {
	margin-top: 50px;
	padding:3%;
}
.bold{
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	margin-bottom: 15px;
}
.build{
	flex:5;
	display: flex;
	flex-direction: column;
}
.text{
	flex:1;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.button2{
	display: flex;
	justify-content: center;
	align-items: center;
}
.button2 > button{
	width: 300px;
	height: 60px;
	margin:auto;
	border-radius: 40px;
	background-color: hsl(322, 100%, 66%);
	margin-top: 3%;
	font-weight: bold;
	color:white;
}
.button2 > button:hover{
	background-color: hsl(321, 100%, 78%);
}
.mock_up{
	flex:2;
	background-image: url(images/screen-mockups.svg);
	padding:2%;
	margin-top: 7%;
	background-repeat: no-repeat;
	background-size: 55%;
	background-position: center;
}

.numbers{
	flex:2;
	display: flex;
	flex-direction: row;
	width: 60%;
	margin:auto;
}
.numbers > div {
	flex:1;
}
.community::before{
	content: url(images/icon-communities.svg);

}
.message::before{
	content: url(images/icon-messages.svg);
}
.big{
	font-size: 40px;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
}
.gray{
	color:gray;
}
.images{
	background-size: 78%;
	background-repeat: no-repeat;
	background-position: center;

}
.row{
	display: flex;
	flex-direction: row;
}
.row > div{
	flex:1;
}
.grow{
	flex:3;
	background-color: hsl(207, 100%, 98%);
	position: relative;
	
}
.grow::before{
	content: "";
	display: block;
	position: absolute;
	bottom: 85%;
	left: 0px;
	width:125%;
	height: 150px;
	background-image: url(images/bg-section-top-desktop-1.svg);
background-size: 80%;
background-repeat: no-repeat;
}
.grow::after{
	content: "";
	display: block;
	position: absolute;
	top: 95%;
	left: 0px;
	width:125%;
	height: 150px;
	background-image: url(images/bg-section-bottom-desktop-1.svg);
background-size: 80%;
background-repeat: no-repeat;
}
.grow> .images{
	background-image: url(images/illustration-grow-together.svg);
	
}
.flowing{
	flex:3;

}
.flowing > .images{
	background-image: url(images/illustration-flowing-conversation.svg);
}
.user{
	flex:3;
	background-color: hsl(207, 100%, 98%);
	position: relative;
}
.user::before{
	content: "";
	display: block;
	position: absolute;
	bottom: 85%;
	left: 0px;
	width:125%;
	height: 150px;
	background-image: url(images/bg-section-top-desktop-2.svg);
background-size: 80%;
background-repeat: no-repeat;
}
.user::after{
	content: "";
	display: block;
	position: absolute;
	top: 97%;
	left: 0px;
	width:125%;
	height: 150px;
	background-image: url(images/bg-section-bottom-desktop-2.svg);
background-size: 80%;
background-repeat: no-repeat;
}
.user>.images{
	background-image: url(images/illustration-your-users.svg);
}
.ready{
	flex:3;
	display:flex;
	align-items: center;
	justify-content: center;

}
.ready > .bold{
	text-align: center;
}
.black{
	flex:3;
	background-color: hsl(192, 100%, 9%);
	color: white;
	position: relative;
	display: flex;
	flex-direction: column;

}
.black>.content3{
	flex:9;
	display: flex;
	flex-direction: row;

}

footer{
	flex:1;
}
.black::before{
	content: "";
	display: block;
	position: absolute;
	bottom: 85%;
	left: 0px;
	width:125%;
	height: 150px;
	background-image: url(images/bg-footer-top-desktop.svg);
background-size: 80%;
background-repeat: no-repeat;
}
.black>div{
	width:100%;
}
.logo1{
	height: 50px;
	width:100%;
	background-image: url("images/logo.svg");
	background-repeat: no-repeat;
	background-origin:  padding-box;
	filter: invert(100%) sepia(100%) saturate(10%) brightness(1000%) contrast(100%);
}

.phone{
	height: 50px;
	padding-top:30px;
}
.phone> div{
	display:inline-block;
}
.phone > div:hover{
	color:blue;
}
.icon{
	width:30px;
}
.email> div{
	display: inline-block;
}
.email > div:hover{
	color: blue;
}
.media {
	height: 50px;
	width:100%;
	display: flex;
	align-items:  center;
	margin-top: 10px;
}
.icon{
	fill:white;
	margin-right:10px;

}
svg:hover{
	fill: blue;
}
.right>.bold{
	font-size:20px;
}
#subscribe{
	width:100px;
	height:30px;
	background-color: hsl(322, 100%, 66%);
	color: white;
	font-weight: bold;
}
#subscribe:hover{
	background-color: hsl(321, 100%, 78%);

}
#email{
	height:30px;
}
#email:hover{
	border:2px solid red;

}
form{
	margin-top: 40px;
}
.check{
	display:none;
}
form:hover +.check{
	display: block;
	color: red;
	font-size: 10px;
}
@media only screen and (max-width: 375px){
	.content2>div{
		flex-direction: column;
	}
	.content2>div>div{
		flex-direction: column;
	}
	.logo{
		background-size: 70%;
	}
	.button> button{
		width:70px;
		height: 40px;
	}
	.button{
		align-items: flex-start;
		justify-content: center;
	}
	.button2>button{
		width: 200px;
	}
.black>.content3{
	flex:9;
	display: flex;
	flex-direction: column-reverse;

}
	.content{
		width:100%;
		height: 600vh;


	}
	.mock_up{
		background-size: 90%;
	}
	.content2{
		flex:30;
	}
	.content2> div {
	margin-bottom: 15px;
	margin-top: 15px;
	padding:3%;
}
.build{
	flex:3;
}
.ready{
	flex:2;
}
	.logo1{
		height: 20px;
		background-size: 45%;
		margin-bottom: 10px;
	}
	.grow::before{
		content:"";
		background-image: url(images/bg-section-top-mobile-1.svg);
		bottom:99%;
	left: 0px;
	width:125%;
	height: 80px;
	}
	.grow::after{
	content: "";
	display: block;
	position: absolute;
	top: 100%;
	left: 0px;
	width:125%;
	height: 50px;
	background-image: url(images/bg-section-bottom-mobile-1.svg);
background-size: 80%;
background-repeat: no-repeat;
}
.user::before{
	content: "";
	display: block;
	position: absolute;
	bottom: 60%;
	left: 0px;
	width:125%;
	height: 70px;
	background-image: url(images/bg-section-top-mobile-2.svg);
background-size: 80%;
background-repeat: no-repeat;
}
.user::after{
	content: "";
	display: block;
	position: absolute;
	top: 97%;
	left: 0px;
	width: 125%;
	height: 80px;
	background-image: url(images/bg-section-bottom-mobile-2.svg);
background-size: 80%;
background-repeat: no-repeat;
}
.black::before{
	content: "";
	display: block;
	position: absolute;
	bottom: 92%;
	left: -0px;
	width:125%;
	height: 80px;
	background-image: url(images/bg-footer-top-mobile.svg);
background-size: 80%;
background-repeat: no-repeat;
}
.bold{
	text-align: center;
}

.right{
	padding-bottom:20px;
}
.content3>div{
margin-bottom: 20px;
}
}